{{ define "main" }}

{{ $contentTypeName := "projects" }}

<div class="archive">
  <h1>{{ .Title }}</h1>
  <div class="archive__group-year">
    <h2 class="archive__group-year-header"></h2>
    {{ range .Data.Pages.GroupByParam "ProjectGroup" }}
    <div class="archive__group-month">
      <h3 class="archive__group-month-header">{{ .Key }}</h3>
      <div class="archive__group-posts">
        {{ range where .Pages "Type" $contentTypeName }}
        {{ if eq .Kind "page" }}
        <div class="archive__post">
          <h3 class="archive__post-title"><a
              href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
          </h3>
          <div class="archive__post-meta">
            <span>
              {{ .Description }}
            </span>
          </div>
        </div>
        {{ end }}
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
